:root {
    --divider-left-space: 35%;
    --gray: #dbdbdb;
}

/* Anything that shouldnt be able to be selected */
img {
    user-select: none;
    -moz-user-select: none;
    -webkit-user-drag: none;
    -webkit-user-select: none;
    -ms-user-select: none;
}

/* Misc */
body { 
    margin: 0;
    padding: 0;
}

header {
    width: var(--divider-left-space);
    text-align: left;
    height: 60px;
    padding: 15px 0px 0px;
    background-color: #f7f7f7;
    display: block;
}

header img {
    height: 43px;
}

header a {
    text-decoration: none;
    color: black;
    padding-left: 30px;
}

input {
    display: none;
}

/* left side */
#products {
    overflow-y: auto;
    width: var(--divider-left-space);
}

.category {
    text-align: left;
    padding: 7px 20px;
    font-size: 16px;
    margin-left: 0;
    cursor: pointer;
    background-color: white;
    border-top: 2px solid var(--gray);
    display: block;
}

.category p {
    vertical-align: middle;
    text-align: left;
}

.categoryImage {
    position: left;
    width: 60px;
    height: 60px;
}

/* Divider */
#divider {
    position: fixed;
    left: var(--divider-left-space);
    top: 0;
    width: 2px;
    height: 100%;
    background-color: var(--gray);
}

/* Left side */
#right {
    position: fixed;
    left: var(--divider-left-space);
    top: 0;
}