:root {
    --divider-left-space: 35%;
    --right-side-width: 65%;
    --item-button-height: 1%;
    --gray: #dbdbdb;
}

/* Anything that shouldnt be able to be selected */
img {
    user-select: none;
    -moz-user-select: none;
    -webkit-user-drag: none;
    -webkit-user-select: none;
    -ms-user-select: none;
}

/* Misc */
body {
    overflow-y: scroll;
    margin: 0;
    padding: 0;
}

header {
    width: 100%;
    text-align: left;
    position: fixed;
    height: 60px;
    padding: 15px 0px 0px;
    background-color: #f7f7f7;
    z-index: 1;
    border-bottom: 2px solid var(--gray);
}

header img {
    height: 43px;
}

header a {
    text-decoration: none;
    color: black;
    padding-left: 30px;
}

input {
    display: none;
}

/* category buttons */
#products {
    overflow: hidden;
    transition-duration: 0.5s;
    width: var(--divider-left-space);
    position: absolute;
    top: 75px;
}

.category {
    overflow: hidden;
    text-align: left;
    padding: 13px 20px;
    font-size: 16px;
    margin-left: 0;
    cursor: pointer;
    background-color: white;
    border-bottom: 2px solid var(--gray);
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

.category p {
    padding-left: 20px;
}

.categoryImage {
    position: left;
    height: 60px;
    width: auto;
}

.dropdownContent {
    display: none;
    margin-left: 5%;
}

/* item buttons */
.itemButton {
    text-align: left;
    padding: 13px 20px;
    font-size: 16px;
    cursor: pointer;
    background-color: white;
    border-top: 2px solid var(--gray);
    border-left: 2px solid var(--gray);
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

.itemButton:first-child {
    border-top: 0;
}

.itemButton p {
    padding: 10px;
}

.itemEnchantedContainer {
    height: 50px;
    background-image: url(assets/enchanted_item_glint.gif);
    background-repeat: no-repeat;
    display: inline-block;
    mask-size: 100% auto;
    -webkit-mask-size: 100% auto;
}

.itemImage {
    height: 50px;
    width: auto;
    display: block;
}

/* Divider */
#divider {
    position: fixed;
    left: var(--divider-left-space);
    top: 75px;
    width: 2px;
    height: 100%;
    background-color: var(--gray);
    transition-duration: 0.5s;
}

/* Canvas */
#canvas {
    margin: 20px;
    margin-top: 0;
    width: 90%;
    height: 60%;
}

#canvasHeader {
    height: 60px;
    width: 100%;
    border-bottom: 2px solid var(--gray);
    padding: 7.5px;
    text-align: left;
    display: block;
}

#canvasData {
    margin-top: -5px;
    position: absolute;
}

/* Right side */
#right {
    position: fixed;
    margin-top: 75px;
    float: right;
    text-align: center;
    left: var(--divider-left-space);
    width: var(--right-side-width);
    height: 100%;
    top: 0;
    display: block;
    transition-duration: 0.5s;
}

/* Sliding Right Arrow */
#rightArrow {
    top: 110px;
    position: fixed;
    width: 25px;
    height: 100%;
    display: none;
    z-index: 1;
}

#rightArrow div {
    transition-duration: 0.5s;
    position: relative;
    left: -15px;
    width: 25px;
    height: 25px;
    top: 10px;
    border: 10px solid;
    border-color: black transparent transparent black;
    transform: rotate(135deg);
    cursor: pointer;
}

/* Loading */
#loading {
    display: none;
    position: fixed;
    left: 64%;
    top: 20%;
    width: 80px;
    height: 80px;
  }

#loading div {
    display: block;
    position: absolute;
    left: 8px;
    width: 16px;
    background: #dbdbdb;
    animation: loading 3s ease-in-out infinite;
}

#loading div:nth-child(1) {
    left: 8px;
    animation-delay: 0.5s;
}
  
#loading div:nth-child(2) {
    left: 32px;
}

#loading div:nth-child(3) {
    left: 56px;
    animation-delay: 1s;
}

@keyframes loading {
    0% {
        top: 8px;
        height: 64px;
        background-color: #cef;
    }

    50% {
        top: 32px;
        height: 30px;
        background-color: #dbdbdb;
    }

    100% {
        top: 8px;
        height: 64px;
        background-color: #cef;
    }
}