:root {
    --divider-left-space: 35%;
    --right-side-width: 65%;
    --item-button-height: 1%;
    --gray: #dbdbdb;
}

/* Anything that shouldnt be able to be selected */
img, body {
    user-select: none;
    -moz-user-select: none;
    -webkit-user-drag: none;
    -webkit-user-select: none;
    -ms-user-select: none;
}

/* Misc */
body {
    overflow-y: scroll;
    margin: 0;
    padding: 0;
}

header {
    width: 100%;
    text-align: left;
    position: fixed;
    height: 60px;
    padding: 15px 0px 0px;
    background-color: #f7f7f7;
    z-index: 1;
    border-bottom: 2px solid var(--gray);
}

header img {
    height: 43px;
}

header a {
    text-decoration: none;
    color: black;
    padding-left: 30px;
}

input {
    display: none;
}

/* category buttons */
#products {
    overflow: hidden;
    transition-duration: 0.5s;
    width: var(--divider-left-space);
    position: absolute;
    top: 75px;
}

.category {
    overflow: hidden;
    text-align: left;
    padding: 13px 20px;
    font-size: 16px;
    margin-left: 0;
    cursor: pointer;
    background-color: white;
    border-bottom: 2px solid var(--gray);
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

.category p {
    padding-left: 20px;
}

.categoryImage {
    position: left;
    height: 60px;
    width: auto;
}

.dropdownContent {
    display: none;
    margin-left: 5%;
}

/* item buttons */
.itemButton {
    text-align: left;
    padding: 13px 20px;
    font-size: 16px;
    cursor: pointer;
    background-color: white;
    border-top: 2px solid var(--gray);
    border-left: 2px solid var(--gray);
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

.itemButton:first-child {
    border-top: 0;
}

.itemButton p {
    padding: 3px 10px;
    text-align: center;
    margin: 0;
}

.itemEnchantedContainer {
    height: 50px;
    background-image: url(assets/enchanted_item_glint.gif);
    background-repeat: no-repeat;
    display: inline-block;
    mask-size: 100% auto;
    -webkit-mask-size: 100% auto;
}

.itemImage {
    height: 50px;
    width: auto;
    display: block;
}

.buyContainer {
    margin-left: auto;
    text-align: center;
}

.sellContainer {
    text-align: center;
}

.statusArrow {
    border: solid black;
    border-width: 0 4px 4px 0;
    display: inline-block;
    padding: 4px;
}

.statusArrowUp {
    transform: rotate(-135deg);
    border-color: green;
}

.statusArrowDown {
    transform: rotate(45deg);
    border-color: red;
}

.statusArrowNeutral {
    padding: 0;
    border-width: 6px;
    border-top: 1px;
}

/* Divider */
#divider {
    position: fixed;
    left: var(--divider-left-space);
    top: 75px;
    width: 2px;
    height: 100%;
    background-color: var(--gray);
    transition-duration: 0.5s;
}

/* Canvas */
#canvas {
    margin: 20px;
    margin-top: 0;
    width: 90%;
    height: 60%;
}

#canvasHeader {
    height: 120px;
    width: 100%;
    border-bottom: 2px solid var(--gray);
    padding: 7.5px;
    display: flex;
    overflow: hidden;
}

#canvasItemImageEnchanted, #canvasItemImage {
    order: 0;
}

#canvasItemName {
    margin-left: 15px;
    order: 1
}

#canvasHeaderDivider {
    order: 3;
    margin-top: 55px;
    background-color: var(--gray);
    position: absolute;
    width: 100%;
    height: 2px;
}

#canvasXData {
    display: inline-block;
    align-self: flex-end;
    position: absolute;
    margin: -10px 0 0 37%;
    width: 20vw;
    order: 3;
}

#canvasYData {
    display: inline-block;
    margin-top: 69px;
    position: fixed;
}

#propertySelector {
    position: fixed;
    right: 0;
    order: 5;
    padding: 0;
    z-index: 1;
    line-height: 10px;
    width: 230px;
}

#propertySelector div div {
    background-color: white;
    cursor: pointer;
    width: fit-content;
    margin: auto;
}

#propertySelector div {
    display: none;
    margin: 0;
    order: 1;
}

#propertySelector:hover div {
    display: block;
}

/* Right side */
#right {
    position: fixed;
    margin-top: 75px;
    float: right;
    text-align: center;
    left: var(--divider-left-space);
    width: var(--right-side-width);
    height: 100%;
    top: 0;
    display: block;
    transition-duration: 0.5s;
}

/* Sliding Right Arrow */
#rightArrow {
    top: 110px;
    position: fixed;
    width: 25px;
    height: 100%;
    display: none;
    z-index: 1;
}

#rightArrow div {
    transition-duration: 0.5s;
    position: relative;
    left: -15px;
    width: 25px;
    height: 25px;
    top: 10px;
    border: 10px solid;
    border-color: black transparent transparent black;
    transform: rotate(135deg);
    cursor: pointer;
}

/* Loading */
#loading {
    display: none;
    position: fixed;
    left: 50%;
    top: 20%;
    width: 80px;
    height: 80px;
  }

#loading div {
    display: block;
    position: absolute;
    left: 8px;
    width: 16px;
    background: #dbdbdb;
    animation: loading 3s ease-in-out infinite;
}

#loading div:nth-child(1) {
    left: 8px;
    animation-delay: 0.5s;
}
  
#loading div:nth-child(2) {
    left: 32px;
}

#loading div:nth-child(3) {
    left: 56px;
    animation-delay: 1s;
}

@keyframes loading {
    0% {
        top: 8px;
        height: 64px;
        background-color: #cef;
    }

    50% {
        top: 32px;
        height: 30px;
        background-color: #dbdbdb;
    }

    100% {
        top: 8px;
        height: 64px;
        background-color: #cef;
    }
}

/* Time buttons */
#timeButtonsContainer {
    align-self: flex-start;
    margin: 0 auto;
    margin-top: 12px;
    justify-self: center;
    order: 2;
    display: flex;
    align-items: center;
}

.timeButton {
    border: 2px solid black;
    height: 20px;
    border-right: none;
    position: relative;
    padding: 2px 4px;
    transition-duration: 0.25s;
    cursor: pointer;
}

.timeButton:nth-last-child(2) {
    border-right: 2px solid black;
}

#rewind, #fastForward {
    margin: 0 5px;
    width: 0;
    height: 0;
    border-top: 10px solid transparent;
    border-bottom: 10px solid transparent;
    border-right: 10px solid black;
    cursor: pointer;
}

#rewind:hover, #fastForward:hover {
    border-top: 10px solid transparent;
    border-bottom: 10px solid transparent;
    border-right: 10px solid #dbdbdb;
}

#fastForward {
    transform: rotate(180deg);
}

#canvasTimeRange {
    margin-top: -50px;
    width: 270px;
    text-align: center;
    position: absolute;
    align-self: flex-end;
    margin-left: 40%;
}